.tabLabel {
  /* Your existing styles for the tab label */
  transition: background-color 0.3s ease; /* Transition for smooth color change */
}

.tabLabel:hover {
  background-color: #19376D; /* Desired hover background color */
}
.activeTab {
  /* Styles for the active tab */
  background-color: #0B2447; /* Indigo color */
  border-color: white;
  border-width: 2px;

  /* Any other styles for active tab */
}

